<section id="about-me">
  <div class="container-fluid container-md p-5 d-flex flex-column justify-content-center">
    <div class="mb-0 mb-xl-5">
      <h1>Sobre mí.</h1>
      <p>
        ¡Hola! Soy Miguel Vasquez
      </p>
      <p>
        Especialista en lógistica con mas de 9 años de experiencia en este sector. Durante mi trayectoria profecional he 
        seguido y sigo formándome para estar al día de todos los avances tecnológicos del sector y anticipandome a cada 
        posible cambio. Habilidoso en cuestiones de inventario, organización y almacenaje de existencias. Me considero 
        una persona sociable, propositiva, con alta capacidad de aprendizaje y actitud de servicio.
      </p>
    </div>
    <div class="studies-container d-block d-md-grid">
      <div>
        <h2>Educación.</h2>
        <ul id="studies-list" class="border-start">
          <li>
            <div>
              <div class="border-bottom mb-2 mt-sm-3">
                <time>2024 - Actualmente</time>
              </div>
              <h4>Ingenieria en Sistema</h4>
              <h4>Universidad Mariano Gálvez de Guatemala</h4>
              <h5>Ingenieria</h5>
            </div>
        </ul>
      </div>
    </div>
  </div>
</section>
